{% extends "base.html" %}
{% block imports %}
<!-- ALGO -->
{% endblock %}


{% block title %}
Reporte de almacen
{% endblock %}

{% block content %}
<div class="container">

    <div class="card mb-3">
        <h1>Reporte Ventas de Empleados General</h1>
        <div class="col-xs-6 col-sm-6 col-md-6">
            <label for="añoMes">Año y mes</label>
            <input type="month" name="añoMes" id="añoMes" class="form-control">
        </div>
        <div class="card-body">
            <canvas id="ventasChart" width="100%" height="30"></canvas>
        </div>
        <div class="card-footer small text-muted">Actualizado ayer a las 11:59 PM</div>
    </div>

    <div class="card mb-3">
        <h1>Reporte Ventas de Empleado</h1>
        <div class="col-xs-6 col-sm-6 col-md-6">
            <label for="añoMesEmp">Año y mes</label>
            <!-- <br> -->
            <input type="month" name="añoMesEmp" id="añoMesEmp" class="form-control">
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6">
                <label for="empleadoId">Empleado</label>
                <select name="empleadoId" id="empleadoId" class="form-control">
                    {% for empleado in empleados %}
                        <option value="{{ empleado.id }}">
                            {{ empleado.nombre }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        <div class="card-body">
            <canvas id="ventasEmpChart" width="100%" height="30"></canvas>
        </div>
        <div class="card-footer small text-muted">Actualizado ayer a las 11:59 PM</div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

<script>
const hoy = new Date();
var año = hoy.getFullYear();
var mes = hoy.getMonth() + 1;
var empleadoId = document.getElementById('empleadoId').value;

const fechaInicio = año + "-" + mes;
var inptAñoMes = document.getElementById('añoMes');
inptAñoMes.value = fechaInicio;
inptAñoMes.focus();

var inptAñoMesEmp = document.getElementById('añoMesEmp');
inptAñoMesEmp.value = fechaInicio;


var endpointVentasEmpleados = "/Reporte/venta/empleado/" + año + "/" + mes + "/";

var endpointVentasEmpleadoIndv = "/Reporte/venta/empleado/" + empleadoId + "/" + año + "/" + mes + "/";

window.onload = function() {

obtenerVentasEmpleados(endpointVentasEmpleados);

obtenerVentasEmpleadoIndividual(endpointVentasEmpleadoIndv);

document.getElementById('añoMes').addEventListener("change", function() {
    var inicio = this.value;
    año = parseInt(inicio.substring(0, 4));
    mes = parseInt(inicio.substring(5, 7));
    

    if (/^\d{4}$/.test(año) && /^\d{1,2}$/.test(mes)) {
        endpointVentasEmpleados = "/Reporte/venta/empleado/" + año + "/" + mes + "/";
        console.log(endpointVentasEmpleados); 
        obtenerVentasEmpleados(endpointVentasEmpleados);
    }
    
});

document.getElementById('añoMesEmp').addEventListener('change', function() {
    console.log(empleadoId)
    empleadoId = document.getElementById('empleadoId').value;
    var inicio = this.value;
    año = parseInt(inicio.substring(0, 4));
    mes = parseInt(inicio.substring(5, 7));

    if (/^\d{4}$/.test(año) && /^\d{1,2}$/.test(mes)) {
        endpointVentasEmpleadoIndv = "/Reporte/venta/empleado/" + empleadoId + "/" + año + "/" + mes + "/";
        console.log(endpointVentasEmpleadoIndv);
        obtenerVentasEmpleadoIndividual(endpointVentasEmpleadoIndv);
    }
})

document.getElementById('empleadoId').addEventListener('change', function() {
    var inicio = document.getElementById('añoMes').value;
    año = parseInt(inicio.substring(0, 4));
    mes = parseInt(inicio.substring(5, 7));

    empleadoId = document.getElementById('empleadoId').value;

    if (/^\d{4}$/.test(año) && /^\d{1,2}$/.test(mes)) {
        endpointVentasEmpleadoIndv = "/Reporte/venta/empleado/" + empleadoId + "/" + año + "/" + mes + "/";
        console.log(endpointVentasEmpleadoIndv);
        obtenerVentasEmpleadoIndividual(endpointVentasEmpleadoIndv);
    } 
})

}


var obtenerVentasEmpleados = function(endpoint) {
    var empleados = [];
    var ventas = [];

    var ctx = document.getElementById('ventasChart').getContext('2d');

    $.ajax({
        type: "GET",
        dataType: "json",
        url: endpoint,
        contentType: "application/json; charset=utf-8",
        success: function(data) {
            data.forEach(element => {
                empleados.push(element.empleadoNombre);
                ventas.push(element.montoVenta);
            });

            var ventasChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: empleados,
                    datasets: [{
                        label: 'valor de ventas en soles',
                        data: ventas,
                        borderWidth: 1,
                        backgroundColor: 'rgba(28, 106, 216, 0.6)',
                        borderColor: 'rgb(28, 106, 216)'
                    }],

                },
                options: {
                    title: {
                        display: true,
                        text: 'Valor de ventas de empleado por mes'
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: true,
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        }
    });
}

var obtenerVentasEmpleadoIndividual = function(endpoint) {
    fechas = [];
    montos = [];

    var ctx = document.getElementById('ventasEmpChart').getContext('2d');

    $.ajax({
        typw: "GET",
        dataType: "json",
        url: endpoint,
        contentType: "application/json; charset=utf-8",
        success: function(data) {
            data.forEach(element => {
                const año = element.fecha.substring(0, 4);
                const mes = element.fecha.substring(5, 7);
                const dia = element.fecha.substring(8,10);
                const fecha = dia + "-" + mes + "-" + dia;
                fechas.push(fecha);
                montos.push(element.monto);
            });

            var ventasEmpChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: fechas,
                    datasets: [{
                        label: 'valor de ventas en soles',
                        data: montos,
                        borderWidth: 1,
                        backgroundColor: 'rgba(42, 124, 210, 0.6)',
                        borderColor: 'rgb(42, 124, 210)'
                    }]
                },
                options: {
                    title: {
                        display: true,
                        text: 'Ventas de empleado en el mes'
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: true,
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }

            });
        }
    })
}
</script>

{% endblock %}