<!-- Usuario: Erick sulca
	 fecha: 01/06/18
	 última modificación: 12/06/18
	 Descripción: se agrego la función getMapa, y toggleBounce para hacer más dinámico el marcador del mapa -->

{% extends "base.html" %}

{% block imports %}

<!--
<script>

  		$( document ).ready(function() {
    		console.log( "ready!" );
		});
		function obtenerCoordenadas(){
        url = $('#id_url').val();
        var arrSlash = url.split("/");
        console.log(arrSlash);
        coordX=arrSlash[4].split(",")[0];
        coordX=coordX.substring(1, coordX.length);
        coordY=arrSlash[4].split(",")[1];
        $('#id_longitud').val(coordX);
		$('#id_latitud').val(coordY);
		initMap(parseFloat(coordX),parseFloat(coordY));

	}
	function initMap(coordX,coordY) {
	  	//const var1= -13.1680054;
	  	//const var2= -74.221639;
	    var uluru = {lat: parseFloat(coordX), lng: parseFloat(coordY)};

	    var map = new google.maps.Map(document.getElementById('map'), {
	      zoom: 20,
	      center: uluru
	    });
	    var marker = new google.maps.Marker({
	      position: uluru,
	      map: map
	    });
	  }

	</script>
-->
<script >
$(document).ready(function(){
	var nuevo = $('#id_nombre').val();
	$('#id_nombre').val('');
	$('#id_nombre').val(nuevo);
	$('#id_nombre').focus();
});
var marker;  //variable de marcador


var a = parseFloat('{{oCliente.latitud}}');
var b = parseFloat('{{oCliente.longitud}}');


$( document ).ready(function() {
	console.log( "ready!" );
});

function initMap() {
	var uluru = {lat: a, lng: b};

	var map = new google.maps.Map(document.getElementById('map'), {
		zoom: 15,
		center: uluru
	});
	var marker = new google.maps.Marker({
		position: uluru,
		map: map,
		draggable: true,
	});

	marker.addListener('dragend', function() {
		var lat = this.getPosition().lat();
		var lng = this.getPosition().lng();

		var latitud = document.getElementById('id_latitud').value = lat;
		var longitud = document.getElementById('id_longitud').value = lng;
	})
}


</script>

<style>
.white-box { 
	width: 100%;
	height: 50em;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;  
	background: rgba(255,255,255,0.9);
	padding: 30px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
	box-shadow: 0 1px 2px rgba(0,0,0,0.15);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}
  
</style>

{% endblock %}

{% block title %}
Editar Cliente {{oCliente.nombre}}
{% endblock %}

{% block content %}
	<div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <h3 class="box-title">Editar datos de {{oCliente.nombre}}</h3>
				<div class="panel panel-default col-xs-12 col-sm-12 col-md-12" style="border: 0.05px solid #ECECEC;">
					<br>
					<div class="form-group">
					<form action="." method="post" enctype="multipart/form-data">
					{% csrf_token %}
					<ul>
					{% load widget_tweaks %}
					{% csrf_token %}
					{% for field in form %}
						<div class="col-xs-4 col-sm-4 col-md-4">
							{{ field.errors }}
							{{ field.label_tag }}</br>
							{{ field|add_class:"form-control" }}
						</div>
					{% endfor %}
					</div>

					<div class="col-xs-12 col-sm-12 col-md-12">
						<br>
						<label for="id_latitud">Geolocalización de {{oCliente.nombre}}</label><br>
							<div id="map" style="position: relative;overflow: hidden;height: 300px;">
							<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA94LBsliF6TX_7XT76lfJAopVP_h2RkkU&callback=initMap"></script>
							</div>
						<br>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12">
						<br>
						<button type="submit" class="btn btn-success">Actualizar</button>
						<br>
						<br>
					</div>
					</ul>
					</form>
				</div>
	    	</div>
   		</div>
	</div>
{% endblock %}
