{% extends "base.html" %}
{% block imports %}
Clientes
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link href="/static/css/styleAutocomplete.css" rel="stylesheet">

<script type="text/javascript" src="/static/js/listarCliente.js"></script>


{% endblock %}

{% block title %}
Clientes
{% endblock %}

{% block content %}
	<div id="myModal" class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Cambiar Estado De Cliente</h5>

					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<div class="modal-body">
						<p>Estás a punto de desactivar al cliente <label id="nombreCliente"></label> </p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button id="eliminar" type="button" class="btn btn-primary" onclick="">Eliminar</button>
				</div>
			</div>
		</div>
</div>


	<div class="row">
        <div class="col-sm-12">
            <div class="white-box">
							<form action="" method="post" id="form_busca" name="form_busca" class="form-inline mr-auto">
								{% csrf_token %}
									<input type="text" id="inpt-cliente" placeholder="DNI Cliente..." name="cliente_buscado" class="form-control">
									<button id="btn-buscar" class="btn blue-gradient btn-rounded btn-sm my-0" type="submit">Buscar</button>
							</form>

							<br>
                <h3 class="box-title">Lista de clientes</h3>
				{% load widget_tweaks %}
				{% csrf_token %}
					<div class="form-group">
					<table id="tCamiones"  class="table">
						<thead>
	                        <tr>
	                            <th>#</th>
	                            <th>Nombre</th>
	                            <th>Dirección</th>
	                            <th>N° Documento</th>
															<th>Tipo de Cliente</th>
	                            <th>Opciones</th>
	                        </tr>
	                    </thead>
				    {% for oCliente in oClientes %}


					    <tr id="tabla{{ oCliente.id }}">
					    	<td>{{ forloop.counter }}</td>
					    	<td>{{oCliente.nombre}}</td>
					    	<td>{{oCliente.direccion}}</td>
					    	<td>{{oCliente.numerodocumento}}</td>
								<td>{{oCliente.precio.nombre}}</td>
								<td>
					    		<a href="/Cliente/detalle/{{oCliente.id}}/"><button type="button" class="btn btn-info">Ver</button> </a>
					    		<a href="/Cliente/editar/{{oCliente.id}}/"><button type="button" class="btn btn-primary">Editar</button></a>
									<a data-target="#myModal" role="button" class="btn btn-danger" data-toggle="modal" id="{{ oCliente.id }}" onclick="selPersona('{{oCliente.id}}','{{oCliente.nombre}}');">Eliminar</a>

								</td>
					    </tr>

				    {% endfor %}

					</table>
					<br>
						<!--paginacion-->
			        <div class="center">
			          <ul class="pagination">
			            {% if oClientes.has_previous %}
			                      <li><a href="?page={{oClientes.previous_page_number}}"><<</a></li>
			                  {% endif %}


			                {% for pg in page_range %}
			                    {% if oClientes.number == pg %}
			                        <li><a class="active" href="?page={{pg}}" class="btn btn-default">{{pg}}</a></li>
			                    {% else %}
			                        <li><a href="?page={{pg}}" class="btn">{{pg}}</a></li>
			                    {% endif %}
			                {% endfor %}

			                  {% if oClientes.has_next %}
			                      <li><a href="?page={{oClientes.next_page_number}}">>></a></li>
			                  {% endif %}
			          </ul>
			        </div>

				    <br>
	    			<a href="/Cliente/nuevo/"><button type="button" class="btn btn-success">Nuevo Cliente</button> </a>

			</div>
	    </div>
    </div>
	</div>
{% endblock %}
