{% extends "base.html" %}
{% block imports %}
<script type="text/javascript" src="/static/js/listarPedido.js"></script>
<link href="/static/css/styleAutocomplete.css" rel="stylesheet">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script type="text/javascript">
function eliminarIdentificador(identificadorId) {
		var request = $.ajax({
				type: "POST",
				url: "{% url 'eliminar_pedido' %}",
				data: {
						"csrfmiddlewaretoken": "{{ csrf_token }}",
						"identificador_id": identificadorId
				},
		});
		request.done(function(response) {
				alert("El pedido fue desactivado con exito");
				$('#myModal').modal('toggle');
				location.reload(true);
				//$("#tabla" + identificadorId).remove();
		});
};
	selPedido = function(idPedido, nombre){
		document.getElementById('nombreCliente').innerHTML = nombre;
		$("#eliminar").attr("onclick","eliminarIdentificador('"+idPedido+"')");
	};
</script>


<style>
ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

ul.pagination li a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}

div.center {text-align: center;}
</style>

<style>
ul.ui-autocomplete {
  z-index: 1100;
}
#content{
  position: absolute;
  min-height: 50%;
  width: 80%;
  top: 20%;
  left: 5%;
}

.selected{
  cursor: pointer;
}
.selected:hover{
  background-color: #0585C0;
  color: white;
}
.seleccionada{
  background-color: #0585C0;
  color: white;
}
</style>

{% endblock %}

{% block title %}
Listar pedido
{% endblock %}

{% block content %}

<div id="myModal" class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Cambiar Estado De Pedido</h5>

				<script type="text/javascript">
					var idPedido = document.getElementById('codigo').value;
					var nombreCliente = document.getElementById('nombre').value;
				</script>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<div class="modal-body">



					<p>Estás a punto de desactivar el pedido de <label id="nombreCliente"></label> </p>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button id="eliminar" type="button" class="btn btn-primary" onclick="">Eliminar</button>
			</div>
		</div>
	</div>
</div>

	<div class="row">
        <div class="col-sm-12">
            <div class="white-box">
							<form class="" action="/Pedido/filtrar/" method="post">
                {% csrf_token %}
                <div class="col-lg-12" style="margin-top:2px;">
                  <div class="col-xs-2 col-sm-2 col-md-2">
                      <input type="text" id="inpt-producto"  placeholder="Producto..." name="producto_buscado" class="form-control">
                  </div>
                  <div class="col-xs-2 col-sm-2 col-md-2">
                        <input type="text" id="inpt-cliente" placeholder="DNI o Nombre Cliente..." name="cliente_buscado" class="form-control">
                  </div>
                  <div class="col-xs-2 col-sm-2 col-md-2 ">
                      <input type="text" class="form-control" id="desde" placeholder="Fecha inicio..." name="desde" autocomplete="off">
                  </div>
                  <div class="col-xs-2 col-sm-2 col-md-2 ">
                      <input type="text" class="form-control" id="hasta" placeholder="Fecha final..." name="hasta" autocomplete="off">
                  </div>
                  <div class="col-xs-4 col-sm-4 col-md-4 ">
                      <button id="btn_bsc" class="btn blue-gradient btn-rounded btn-sm my-0" type="submit">Buscar</button>
                  </div>
                </div>
              </form>
							<br>


              <div class="col-lg-12" style="margin-top:2px;">

              {% for i in tags %}
              {% if i.producto %}
                <div id="producto" class="btn btn-danger">
                  <span id="productoNuevo">{{i.producto}}</span>
                    <button id="close" type="button" class="close" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
              {% endif %}
              {% if i.dni %}
              <div id="cliente" class="btn btn-danger">
                <span id="productoNuevo">{{i.dni}}</span>
                  <button id="close2" type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              {% endif %}
              {% if i.fecha_inicio %}
              <div id="inicio" class="btn btn-danger">
                <span id="productoNuevo">{{i.fecha_inicio}}</span>
                  <button id="close3" type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              {% endif %}
              {% if i.fecha_fin %}
              <div id="fin" class="btn btn-danger">
                <span id="productoNuevo">{{i.fecha_fin}}</span>
                  <button id="close4" type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              {% endif %}
              {% endfor %}
            </div>
              <br>
                <h3 class="box-title">Lista de Pedidos</h3>
				{% load widget_tweaks %}
				{% csrf_token %}
					<div class="form-group">
					<table id="tCamiones"  class="table">
						<thead>
	                        <tr>
	                            <th>#</th>
	                            <th>Fecha</th>
	                            <th>Cliente</th>
	                            <th>Dirección</th>
                                <th>Empleado</th>
                                <th>Producto</th>
                                <th>Opciones</th>
	                        </tr>
	                    </thead>
				    {% for oPedido in oPedidos %}
				    <tr>
				    	<td>{{ forloop.counter }}</td>
				    	<td>{{oPedido.fecha}}</td>
				    	<td>{{oPedido.cliente.nombre}}</td>
				    	<td>{{oPedido.cliente.direccion}}</td>
							<td>{{oPedido.empleado.nombre}}</td>
							<td>
								{% for oNue in oProductos %}
									{% if oPedido.id == oNue.id %}
											<table id="tProductos" class="table">
												<tr>
													{{ oNue.producto }}
												</tr>
											</table>

									{% endif %}
								{% endfor %}
							</td>

							<td>
				    		<a href="/Pedido/detalle/{{oPedido.id}}/"><button type="button" class="btn btn-info">Ver</button> </a>
				    		<a href="/Pedido/editar/{{oPedido.id}}/"><button type="button" class="btn btn-primary">Editar</button></a>
								<a data-target="#myModal" role="button" class="btn btn-danger" data-toggle="modal" id="{{ oPedido.id }}" onclick="selPedido('{{oPedido.id}}','{{oPedido.cliente.nombre}}');">Eliminar</a>

				    	</td>
				    </tr>

				    {% endfor %}

					</table>
						<br>
						<div class="center">
		          <ul class="pagination">
		            {% if oPedidos.has_previous %}
		                      <li><a href="?page={{oPEdidos.previous_page_number}}"><<</a></li>
		                  {% endif %}


		                {% for pg in page_range %}
		                    {% if oPedidos.number == pg %}
		                        <li><a class="active" href="?page={{pg}}" class="btn btn-default">{{pg}}</a></li>
		                    {% else %}
		                        <li><a href="?page={{pg}}" class="btn">{{pg}}</a></li>
		                    {% endif %}
		                {% endfor %}

		                  {% if oPedidos.has_next %}
		                      <li><a href="?page={{oPedidos.next_page_number}}">>></a></li>
		                  {% endif %}
		          </ul>
		        </div>
				    <br>
	    			<a href="/Pedido/nuevo/"><button type="button" class="btn btn-success">Nuevo Pedido</button> </a>
				    <br>
				    <br>
	    			<a href="/Pedido/resumen/"><button type="button" class="btn btn-primary btn-lg">Resumen de Pedidos</button> </a>

			</div>
	    </div>
    </div>
{% endblock %}
