{% extends "base.html" %}
{% block imports %}
Registrar Nuevo Producto
{% endblock %}

{% block title %}
Registrar Nuevo Producto
{% endblock %}

{% block content %}
	<div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <h3 class="box-title">Formulario de apertura de caja</h3>
                <form action="/Caja/apertura/" method="post" enctype="multipart/form-data">
				<ul>
				{% load widget_tweaks %}
				{% csrf_token %}
					<label for="">Monto de apertura de caja:</label>
					<br>
					<input type="number" class="form-control" name="montoInicial" value="0.0">
					<button class="btn btn-success" data-toggle="modal" style="margin-top: 1em">Aperturar Caja</button>
				</ul>
				</form>

			</div>
	    </div>
    </div>
{% endblock %}
