{% extends "base.html" %}
{% block imports %}
<script type="text/javascript" src="/static/js/cierreCaja.js"></script>
{% endblock %}

{% block title %}
Registrar Nuevo Producto
{% endblock %}

{% block content %}
<div class="row">
			<div class="col-sm-12">
					<div class="white-box">
							<h3 class="box-title">Formulario de cierre de caja</h3>
							<form action="" id="controlarCierre" method="post" enctype="multipart/form-data">
			<ul>
			{% load widget_tweaks %}
			{% csrf_token %}
				<label for="">Fecha de apertura caja:</label>
				<input type="text" id="fechaApertura" class="form-control" name="fecha" value="{{fecha}}" disabled>
				<br>
				<br>
				<input id="cerrarCaja" class="btn btn-success" onclick="ComprobarCaja();" value="Cerrar caja">
			</ul>
			</form>

		</div>
		</div>
	</div>
{% endblock %}
