{% extends "base.html" %}
{% block imports %}

{% endblock %}

{% block title %}
Registrar Operacion
{% endblock %}

{% block content %}
<div class="row">
      <div class="col-sm-12">
          <div class="white-box">
              <h3 class="box-title">Formulario de apertura de caja</h3>
              <form action="/Caja/apertura/" method="post" enctype="multipart/form-data">

        <ul>
				{% load widget_tweaks %}
				{% csrf_token %}
					<div class="form-group">
					<label for="cmbTipo">Tipo de operacion</label>
					<select name="cmbTipo" id="cmbTipo" class="form-control" required>
            {% for tipoOperacion in tipoOperaciones %}
							<option value="{{ tipoOperacion.id }}">
								{{ tipoOperacion.nombre }}
							</option>
						{% endfor %}
					</select>
					<label for="cmbOperacion">Detalle operacion</label>
					<select name="cmbOperacion" id="cmbOperacion" class="form-control" required>
						{% for operacion in detalleOperaciones %}
							<option value="{{ operacion.id }}">
								{{ operacion.nombre }}
							</option>
						{% endfor %}
					</select>

					<label for="monto">Monto</label>
					<input type="number" name="monto" id="monto" class="form-control" value="0.00" step="0.1" placeholder="0.0">

					<button class="btn btn-success" data-toggle="modal" style="margin-top: 1em">Aperturar Caja</button>
				</ul>
				</form>
      </div>
      </div>
    </div>
{% endblock %}
