{% extends "base.html" %}
{% block imports %}
<style>
ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

ul.pagination li a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}

div.center {text-align: center;}
</style>

<style>
ul.ui-autocomplete {
  z-index: 1100;
}
#content{
  position: absolute;
  min-height: 50%;
  width: 80%;
  top: 20%;
  left: 5%;
}

.selected{
  cursor: pointer;
}
.selected:hover{
  background-color: #0585C0;
  color: white;
}
.seleccionada{
  background-color: #0585C0;
  color: white;
}
</style>

{% endblock %}

{% block title %}
Listar pedido
{% endblock %}

{% block content %}
	<div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <h3 class="box-title">Lista de clientes</h3>
				{% load widget_tweaks %}
				{% csrf_token %}
					<div class="form-group">
					<table id="tCamiones"  class="table">
						<thead>
	                        <tr>
	                            <th>#</th>
	                            <th>Fecha</th>
	                            <th>Cliente</th>
	                            <th>Dirección</th>
															<th>Empleado</th>
															<th>Producto</th>
															<th>Opciones</th>
	                        </tr>
	                    </thead>
				    {% for oPedido in oPedidos %}
				    <tr>
				    	<td>{{ forloop.counter }}</td>
				    	<td>{{oPedido.fecha}}</td>
				    	<td>{{oPedido.cliente.nombre}}</td>
				    	<td>{{oPedido.cliente.direccion}}</td>
							<td>{{oPedido.empleado.nombre}}</td>
							<td>
								{% for oNue in oProductos %}
									{% if oPedido.id == oNue.id %}
											<table id="tProductos" class="table">
												<tr>
													{{ oNue.producto }}
												</tr>
											</table>

									{% endif %}
								{% endfor %}
							</td>

							<td>
				    		<a href="/Pedido/detalle/{{oPedido.id}}/"><button type="button" class="btn btn-info">Ver</button> </a>
				    		<a href="/Pedido/editar/{{oPedido.id}}/"><button type="button" class="btn btn-primary">Editar</button></a>
				    		<a href="/Pedido/eliminar/{{oPedido.id}}/"><button type="button" class="btn btn-danger">Eliminar</button></a>
				    	</td>
				    </tr>

				    {% endfor %}

					</table>
						<br>
						<div class="center">
		          <ul class="pagination">
		            {% if oPedidos.has_previous %}
		                      <li><a href="?page={{oPEdidos.previous_page_number}}"><<</a></li>
		                  {% endif %}


		                {% for pg in page_range %}
		                    {% if oPedidos.number == pg %}
		                        <li><a class="active" href="?page={{pg}}" class="btn btn-default">{{pg}}</a></li>
		                    {% else %}
		                        <li><a href="?page={{pg}}" class="btn">{{pg}}</a></li>
		                    {% endif %}
		                {% endfor %}

		                  {% if oPedidos.has_next %}
		                      <li><a href="?page={{oPedidos.next_page_number}}">>></a></li>
		                  {% endif %}
		          </ul>
		        </div>
				    <br>
	    			<a href="/Pedido/nuevo/"><button type="button" class="btn btn-success">Nuevo Pedido</button> </a>
				    <br>
				    <br>
	    			<a href="/Pedido/resumen/"><button type="button" class="btn btn-primary btn-lg">Resumen de Pedidos</button> </a>

			</div>
	    </div>
    </div>
{% endblock %}
