{% extends "base.html" %}
{% block imports %}
<script type="text/javascript" src="/static/js/crearPedido.js"></script>
<link href="/static/css/styleAutocomplete.css" rel="stylesheet">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


<script type="text/javascript">

//filtro de clientes por dni o numero documento ajax

$(document).ready(function(){
  $( "#inpt-cliente" ).focus();
  $( "#inpt-cliente" ).autocomplete({
      source: function (request, response) {

          var datos = {nombreCliente: $("#inpt-cliente").val()};
          var sendData = JSON.stringify(datos);
          $.ajax({
              type: "POST",
              dataType: "json",
              url: "/cliente/buscar/",
              data: sendData,
              contentType: "application/json; charset=utf-8",
              async: false,
              cache: false,
              CrossDomain: true,

              success: function (result) {
              var ListasClientes = result['clientes'];
              response($.map(ListasClientes, function (item) {
                  return {label: item.numerodocumento,
                        nombreC: item.nombre};
                console.log(item.nombre);
              }));

              }
          });
      },
      minLength: 1,
      select: function (event, ui) {
          console.log(ui.item.nombreC );
          $("#nombreCl").val(ui.item.nombreC);
          $('#inpt-producto').focus();
      }

  });
});


    $(document).ready(function(){
        //$('cantidad').prop('disabled', true);
        $( "#inpt-producto" ).autocomplete({
            source: function (request, response) {

                var datos = {nombreProducto: $("#inpt-producto").val()};
                var sendData = JSON.stringify(datos);
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: "/productopre/buscar/",
                    data: sendData,
                    contentType: "application/json; charset=utf-8",
                    async: false,
                    cache: false,
                    CrossDomain: true,

                    success: function (result) {
                      if (document.getElementById("presentacion").length!=0 ) {
                        var pre = document.getElementById("presentacion");
                        pre.options.length = 0;
                        var valorRemove = document.getElementById("valor");
                        valorRemove.options.length = 0;
                      }
                      var ListasProductos = result['productos'];
                      var ListarPresentaciones = result['presentacion'];

                      response($.map(ListasProductos, function (item) {
                          return {
                              label: item.nombre,
                              idproducto: item.nombre,
                              precio: item.valor,
                              codigo: item.codigo,
                              Id: item.id,
                              };
                          })
                        );
                          //$('#presentacion');
                          var sel = document.getElementById("presentacion");
                          var sel2 = document.getElementById("valor");
                          for (var i in ListarPresentaciones) {
                              var option = document.createElement("option");
                              option.value = ListarPresentaciones[i].id;
                              option.text = ListarPresentaciones[i].nombre;
                              sel.add(option);
                              var option2 = document.createElement("option");
                              option2.value = ListarPresentaciones[i].id;
                              option2.text = ListarPresentaciones[i].valor;
                              sel2.add(option2);

                      }

                      var valor1= $("#valor option:selected").html();
                      var valor2= $("#valor").val();

                      $( "#codigo" ).val( valor2);
                      $( "#precio" ).val( valor1);



                      }





                  });
            },
            minLength: 2,
            select: function (event, ui) {
                $.data(document.body, 'idproducto', ui.item.Id);//guardar el id en memoria el $.data guarda en memoria
                $('#presentacion').removeAttr('disabled');
                $('#cantidad').removeAttr('disabled');
                $('#presentacion').focus();
            }


        });
  });


  $('select[name="seleccionar"]').on('change', function() {
  $('select[name="valor"]').val(this.value);
});

$(document).ready(function() {
  $('#presentacion').change(function(event) {
      var cambiarSelect = $('#presentacion').val();
      var valor = $('#valor').val(cambiarSelect);
      $('#valor').change();
      var valorTexto= $("#valor option:selected").html();
      var valorId= $("#valor").val();

      $( "#codigo" ).val( valorId);
      $( "#precio" ).val( valorTexto);
  });
});





</script>

<script >

var marker;
var coords={};

initMap= function() {

  //usamos la API para geolocalización
  navigator.geolocation.getCurrentPosition(
      function (position){

        coords={
          lng: position.coords.longitude,
          lat: position.coords.latitude
        };

        setMapa(coords); //pasamos las coordenadas al método para crear el mapa.

      }, function(error){console.log(error);});
  }

  function setMapa(coords){

  var map=new google.maps.Map(document.getElementById('map'),
  {
    zoom: 13,
    center: new google.maps.LatLng(coords.lat, coords.lng),

  });

  marker = new google.maps.Marker({

    map: map,
    draggable: true,
    animation: google.maps.Animation.DROP,
    position: new google.maps.LatLng(coords.lat, coords.lng),


  });

  marker.addListener('click', toggleBounce);
  marker.addListener('dragend', function(event){

     document.getElementById("id_latitud").value=this.getPosition().lat();
     document.getElementById("id_longitud").value=this.getPosition().lng();
  });

}


function toggleBounce(){

  if(marker.getAnimation() !== null){
    marker.setAnimation(null);
  }else{
    marker.setAnimation(google.maps.Animation.BOUNCE);
  }
}

</script>

{% endblock %}


{% block title %}
Nuevo Pedido
{% endblock %}

{% block content %}

<p id="demo"></p>

<div id="myModal" class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><b>REGISTRAR NUEVO CLIENTE</b></h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
              <div class="col-lg-12" style="margin-top:2px;">
                <div class="col-xs-6 col-sm-6 col-md-6">
                  <label for="id_nombre">Nombre:</label><br>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                  <label for="id_direccion">Direccion:</label><br>
                </div>
              </div>
              <div class="col-lg-12" style="margin-top:2px;">
                <div class="col-xs-6 col-sm-6 col-md-6">
                  <input type="text" name="nombre" id="id_nombre" required="" class="form-control" maxlength="45">
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                  <input type="text" name="direccion" id="id_direccion" required="" class="form-control" maxlength="45">
                </div>
              </div>

            <div class="col-lg-12" style="margin-top:2px;">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <label for="id_longitud">Longitud:</label>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <label for="id_latitud">Latitud:</label>
              </div>
            </div>
            <div class="col-lg-12" style="margin-top:2px;">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <input type="text" name="longitud" id="id_longitud" class="form-control" maxlength="50" disabled="disabled" >
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <input type="text" name="latitud" id="id_latitud" class="form-control" maxlength="50" disabled="disabled" >
              </div>
            </div>

            <div class="col-lg-12" style="margin-top:2px;">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <label for="id_numerodocumento">Numerodocumento:</label><br>
              </div>
            </div>
            <div class="col-lg-12" style="margin-top:2px;">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <input type="text" name="numerodocumento" id="id_numerodocumento" class="form-control" maxlength="11" >
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <button id="registrarCliente" type="button" class="btn btn-primary" onclick="RegistrarCliente();">Registrar</button>
                <script type="text/javascript">
                  function RegistrarCliente(){
                    var nombre = document.getElementById("id_nombre").value;
                    var direccion = document.getElementById("id_direccion").value;
                    var longitud = document.getElementById("id_longitud").value;
                    var latidud = document.getElementById("id_latitud").value;
                    var documento = document.getElementById("id_numerodocumento").value;
                    var datos = {nombre: nombre,direccion:direccion,longitud:longitud,latitud:latidud,documento:documento};
                    var sendData = JSON.stringify(datos);
                    $.ajax({
                        type: "POST",
                        dataType: "json",
                        url: "/Cliente/Registrar/",
                        data: sendData,
                        contentType: "application/json; charset=utf-8",
                        async: false,
                        cache: false,
                        CrossDomain: true,

                        success: function (result) {
                        //     var id_venta = result["id_venta"];
                             alert('El cliente se registro con exito');
                             $('#myModal').modal('toggle');
                             //location.reload(true);
                        }
                    });
                  }
                </script>
              </div>

            </div>


            </div>
        </div>
          <label for="id_latitud">My Google Maps Demo</label><br>
                <div id="map" style="position: relative;overflow: hidden;height: 200px;">
                  <script async defer
                  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA94LBsliF6TX_7XT76lfJAopVP_h2RkkU&callback=initMap">
                  </script>

          </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>


    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <h3 class="box-title">Nuevo Pedido</h3>
                <!--<form method="post" enctype="multipart/form-data">
                  {% csrf_token %}-->

                <div class="col-lg-12" style="margin-top:2px;">
                  <div class="col-xs-4 col-sm-4 col-md-4">
                    <label for="id_nombre">Cliente:</label>
                  </div>
                </div>
                <br>
                <div class="col-lg-12" style="margin-top:2px;">
                  <div class="col-xs-4 col-sm-4 col-md-4">
                    <input type="number" id="inpt-cliente" placeholder="Nr. Documento cliente..." name="cliente_buscado" class="form-control">
                  </div>
                  <div class="col-xs-4 col-sm-4 col-md-4">
                        <input type="text" id="nombreCl" name="nombreCl" class="form-control" disabled="disabled">
                  </div>
                  <a data-target="#myModal" role="button" data-toggle="modal"><span class="fa fa-user fa-2x"></span></a>
                </div>
                <br>
                <div class="col-lg-12" style="margin-top:2px;">
                  <div class="col-xs-4 col-sm-4 col-md-4">
                    <label for="id_nombre">Producto:</label>
                  </div>
                  <div class="col-xs-4 col-sm-4 col-md-4">
                    <label for="">Codigo presentacion:</label>
                  </div>
                  <div class="col-xs-4 col-sm-4 col-md-4">
                      <label for="">Cantidad:</label>
                  </div>
                </div>
                <br>
                <div class="col-lg-12" style="margin-top:2px;">
                  <div class="col-xs-4 col-sm-4 col-md-4">
                    <input type="text" name="inpt-producto" id="inpt-producto" required="" class="form-control" maxlength="45">
                  </div>
                  <div class="col-xs-4 col-sm-4 col-md-4">
                    <select id="presentacion" class="form-control" name="seleccionar" disabled="disabled" >
                    </select>
                  </div>
                  <div class="col-xs-4 col-sm-4 col-md-4">
                    <input type="number" name="cantidad" id="cantidad" required="" class="form-control" disabled="disabled" >
                  </div>
                </div>

                <br>

                <select style="display:none" id="valor" class="form-control" name="valor">
                </select>
                <br>
                <div class="col-lg-12" style="margin-top:2px;">
                  <div class="col-xs-6 col-sm-6 col-md-6">
                    <label for="id_nombre">Código:</label>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-6">
                    <label for="id_nombre">Precio:</label>
                  </div>
                </div>
                <br>
                <div class="col-lg-12" style="margin-top:2px;">
                  <div class="col-xs-4 col-sm-4 col-md-4">
                    <input type="text" name="codigo" id="codigo" required="" class="form-control" disabled="disabled">
                  </div>
                  <div class="col-xs-4 col-sm-4 col-md-4">
                    <input type="number" name="precio" id="precio" required="" class="form-control" disabled="disabled">
                  </div>
                </div>
                <br>
                <br>
                <br>
                <div class="col-lg-12" style="margin-top:2px;">
                  <div class="col-xs-6 col-sm-6 col-md-6">
                  </div>
                </div>
                <div class="col-lg-12" style="margin-top:2px;">
                  <div class="col-xs-6 col-sm-6 col-md-6">

                    <button id="bt_add" class="btn btn-success">Agregar</button>
                    <button id="bt_del" class="btn btn-warning">Eliminar</button>
                    <button id="bt_delall" class="btn btn-danger">Eliminar todo</button>
                  </div>
                </div>
                <div class="col-lg-12" style="margin-top:2px;">
                  <div class="col-xs-12 col-sm-12 col-md-12">

                    <div class="row">
                        <div class="form-group">
                            <label ><center>Concepto Operación</center></label>
                            <table id="tabla" name="tablacontenido" class="table table-bordered">
                            <thead>
                                <tr>
                                    <td>Nº</td>
                                    <td>Cantidad</td>
                                    <td>Cod. Producto</td>
                                    <td>Nombre</td>
                                    <td>Precio Unit.</td>
                                    <td>Total</td>
                                </tr>
                            </thead>


                            </table>

                            <br>
                        </div>
                            TOTAL: S/. <label for="id_Total" id="id_Total" name="id_Total"></label>
                            <br>
                            <br>

                        <button id="bt_GenerarVenta" class="btn btn-success">Generar Venta</button>
                      <!--</form>-->
                    </div>
                  </div>
                </div>

                    <div class="row">
                        <div class="form-group">
                            <div class="col-sm-8 col-md-8 col-lg-6">
                                <div id="tabs" style="display:none;">
                                    <table id="listaProducto"></table>
                                    <div id="pagerlistaProducto"  style="text-align: center;"></div>
                                </div>
                            </div>

                            <div class="col-sm-2 col-md-2 col-lg-4">

                            </div>
                        </div>
                    </div>


    </div>
  </div>
</div>

{% endblock %}
