{% extends "base.html" %}
{% block imports %}
Información de Cliente
<style>
ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

ul.pagination li a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}

div.center {text-align: center;}
</style>
{% endblock %}

{% block title %}
Resumen de pedido
{% endblock %}

{% block content %}
	<div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <h3 class="box-title">Datos de pedido</h3>
			<div>

				<table id="tProductos"  class="table">
					<thead>
	                    <tr>
	                        <th>#</th>
	                        <th>Producto</th>
	                        <th>Presentación</th>
	                        <th>Cantidad</th>
	                	</tr>
	                </thead>
	                {% for oProducto in oProductos %}
				    <tr>
				    	<td>{{ forloop.counter }}</td>
				    	<td>{{oProducto.nombreProducto}}</td>
				    	<td>{{oProducto.nombrePresentacion}}</td>
				    	<td>{{oProducto.cantidad}}</td>
				    </tr>

				    {% endfor %}
				</table>
				<div class="center">
					<ul class="pagination">
						{% if oProductos.has_previous %}
											<li><a href="?page={{oProductos.previous_page_number}}"><<</a></li>
									{% endif %}


								{% for pg in page_range %}
										{% if oProductos.number == pg %}
												<li><a class="active" href="?page={{pg}}" class="btn btn-default">{{pg}}</a></li>
										{% else %}
												<li><a href="?page={{pg}}" class="btn">{{pg}}</a></li>
										{% endif %}
								{% endfor %}

									{% if oVenta.has_next %}
											<li><a href="?page={{oProductos.next_page_number}}">>></a></li>
									{% endif %}
					</ul>
				</div>
			</div>
			</div>

	    </div>

    </div>



{% endblock %}
