{% extends "base.html" %}
{% block imports %}
Información de Producto

{% endblock %}

{% block title %}
Información  detallada de Producto
{% endblock %}

{% block content %}
	<div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <h3 class="box-title">Datos del producto {{oProducto.nombre}}</h3>
			<div>
				<table id="tCamiones"  class="table">
					<tr>
						<td>Imagen: </td>
						<td><img src="/media/{{oProducto.imagen}}" height="100" width="100" alt="" /></td>

					</tr>
					<tr>
						<td>Nombre: </td>
						<td>{{ oProducto.nombre }}</td>
					</tr>
					<tr>
						<td>Codigo: </td>
						<td>{{ oProducto.codigo }}</td>
					</tr>
					<tr>
						<td>Cantidad: </td>
						<td>{{ oProducto.cantidad }}</td>
					</tr>
					<tr>
						<td>Presentaciones:: </td>
						<td>
							{% for presentacion in oProducto.presentacions.all %}
								- {{ presentacion.nombre }}<br>
							{% endfor %}
						</td>
					</tr>
				</table>
				<br>
				<a href="/Producto/editar/{{oProducto.id}}/"><button type="button" class="btn btn-primary">Editar</button></a>

			</div>
			</div>

	    </div>
    </div>

{% endblock %}
