

{% extends "base.html" %}

{% block imports %}
  <script type="text/javascript" src="/static/js/editarPresentacion.js"></script>
  <link href="/static/css/styleAutocomplete.css" rel="stylesheet">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

{% endblock %}

{% block title %}
Editar Producto {{oProducto.nombre}}
{% endblock %}

{% block content %}

<div id="myModal" class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Eliminar Presentación</h5>

				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<div class="modal-body">



					<p>Estás a punto de eliminar la presentación <label id="nombrePresentacion"></label> </p>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<a id="eliminarPresentacionProd" type="button" class="btn btn-primary" href="">Eliminar</a>
			</div>
		</div>
	</div>
</div>

<div class="row">
      <div class="col-xs-12 col-sm-12">
          <div class="white-box">
              <h3 class="box-title">Editar producto {{oProducto.nombre}}</h3>

									<div class="form-group">
                    <div class="col-lg-12" style="margin-top:2px;">
                      <form action="." method="post" enctype="multipart/form-data">
      									{% csrf_token %}
      									<ul>
      									{% load widget_tweaks %}
      									{% csrf_token %}
                      {% for field in form %}
											<div class="col-xs-4 col-sm-4 col-md-4">
													{{ field.errors }}
													{{ field.label_tag }}</br>
													{{ field|add_class:"form-control" }}
											</div>
											{% endfor %}
                      <div class="col-xs-12 col-sm-12 col-md-12">
                        <br>
                        <button class="btn btn-success">Actualizar</button>
											</div>
                      <br>
                      <br>
                      </form><br>
                      <div class="col-xs-4 col-sm-4 col-md-4">
                      <label for="">Presentaciones</label>
                        <select class="form-control" id="cmbPresentacion" required>
                          <!--<option value=""> </option>-->
                          {% for presentacion in presentaciones %}
                              <option value="{{presentacion.id}}">
                              {{presentacion.nombre}}
                              </option>
                          {% endfor %}
                          </select>

                      </div>
                      <div class="col-xs-4 col-sm-4 col-md-4">
                        <label for="">Cantidad de presentacion en unidad principal:</label>
					                 <input type="number" name="cantPresentacion" id="cantPresentacion" required class="form-control">
                      </div>

                      {% for precio in precios%}
                      <div class="col-xs-4 col-sm-4 col-md-4">

                        <label for="">Precio - {{ precio.nombre }}: </label>
                      <input type="number" name="{{precio.id}}Precio" id="{{precio.id}}Precio" required class="form-control">
                      </div>
                      {% endfor %}
                      <input type="text" style="visibility:hidden;" name="" id="productoId" value="{{productoId}}">

                      <br>
                      <div class="col-xs-6 col-sm-6 col-md-6">
                        <br>
                        <button id="bt_add" class="btn btn-success">Agregar</button>
                        <br>
                        <br>
                      </div>
                      </div>
											<br>
											<div class="col-lg-12" style="margin-top:2px;">
				                <div class="col-xs-12 col-sm-12 col-md-12">

				                  <div class="row">
				                      <div class="form-group">
				                          <label ><center>Presentación de Productos</center></label>
				                          <table id="tabla" name="tablacontenido" class="table table-bordered">
				                          <thead>
				                              <tr>
				                                <td>Nº</td>
				                                <td>Presentación</td>
				                                <td>Cantidad pre. prin.</td>
				                                <td>Precio 1</td>
				                                <td>Precio 2</td>
				                                <td>Precio 3</td>
                                        <td>Opciones</td>
				                              </tr>
				                          </thead>
																	<tbody>
																			{% for producto in productos %}
																				{% if producto.valor == 1 %}
																				<tr>
																						<td>Principal</td>
																						<td>{{producto.presentacion}}</td>
																						<td>{{producto.valor}}</td>
																						<td>{{producto.precio1}}</td>
																						<td>{{producto.precio2}}</td>
																						<td>{{producto.precio3}}</td>
                                            <td></td>
																				</tr>
																				{% endif %}
																			{% endfor %}
																			{% for producto in productos %}
																				{% if producto.valor == 1 %}
																				{% else %}
																				<tr>
																						<td>{{forloop.counter0}}</td>
																						<td>{{producto.presentacion}}</td>
																						<td>{{producto.valor}}</td>
																						<td><input class="form-control" type="number" name="" value="{{producto.precio1}}"></td>
																						<td><input class="form-control" type="number" name="" value="{{producto.precio2}}"></td>
																						<td><input class="form-control" type="number" name="" value="{{producto.precio3}}"></td>
                                            <td><input type="button" class="btn btn-sucess" name="editarPresentacion" id="editarPresentacion" value="Editar">
                                                <a data-target="#myModal" role="button" class="btn btn-danger" data-toggle="modal" id="" onclick="EliminarPresentacionProducto('{{ producto.presentacion }}','{{ producto.productoId }}','{{ producto.presentacionId }}');">Eliminar</a></td>

                                        </tr>
																				{% endif %}
																			{% endfor %}


																	</tbody>

				                          </table>

				                          <br>
				                      </div>
				                          TOTAL: S/. <label for="id_Total" id="id_Total" name="id_Total"></label>
				                          <br>
				                          <br>

				                      <button id="bt_GenerarVenta" class="btn btn-success">Realizar Pedido</button>
				                    <!--</form>-->
				                  </div>
				                </div>
				              </div>

				                  <div class="row">
				                      <div class="form-group">
				                          <div class="col-sm-8 col-md-8 col-lg-6">
				                              <div id="tabs" style="display:none;">
				                                  <table id="listaProducto"></table>
				                                  <div id="pagerlistaProducto"  style="text-align: center;"></div>
				                              </div>
				                          </div>

				                          <div class="col-sm-2 col-md-2 col-lg-4">

				                          </div>
				                      </div>
				                  </div>


					    	</div>

								</ul>


	    		</div>

    </div>

</div>
{% endblock %}
