{% extends "base.html" %}
{% block imports %}
Lista de productos
<script type="text/javascript">

//evento click para boton editar

$(document).on('Click', '.btn-editar', function(e){

 e.preventDefault();
	var row=$(this).paren().parent()[0];
	console.log(row);
});

<!-- busqueda al presionar enter -->
<script>
  var input = document.getElementById("myInput");

  // Execute a function when the user releases a key on the keyboard
  input.addEventListener("keyup", function(event) {
  // Cancel the default action, if needed
  event.preventDefault();
  // Number 13 is the "Enter" key on the keyboard
  if (event.keyCode === 13) {
    // Trigger the button element with a click
    document.getElementById("myBtn").click();
  }
  });
</script>

</script>

<!-- buscar producto ajax -->
<script type="text/javascript">
$(document).ready(function(){
  $( "#inpt-producto" ).focus();
  $( "#inpt-producto" ).autocomplete({
      source: function (request, response) {

          var datos = {nombreProducto: $("#inpt-producto").val()};
          var sendData = JSON.stringify(datos);
          $.ajax({
              type: "POST",
              dataType: "json",
              url: "/producto/buscar/",
              data: sendData,
              contentType: "application/json; charset=utf-8",
              async: false,
              cache: false,
              CrossDomain: true,

              success: function (result) {
              var ListasProductos = result['productos'];
              response($.map(ListasProductos, function (item) {
                  document.forms.form_busca.action =  "/Producto/detalle/"+item.id+"/" ;
                  return {label: item.nombre};
                  }));
              }
          });
      },
      minLength: 1,
  });
});

</script>

<style>
ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

ul.pagination li a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}

div.center {text-align: center;}
</style>

<style>
ul.ui-autocomplete {
  z-index: 1100;
}
#content{
  position: absolute;
  min-height: 50%;
  width: 80%;
  top: 20%;
  left: 5%;
}

.selected{
  cursor: pointer;
}
.selected:hover{
  background-color: #0585C0;
  color: white;
}
.seleccionada{
  background-color: #0585C0;
  color: white;
}
</style>

{% endblock %}

{% block title %}
Lista de productos
{% endblock %}

{% block content %}
	<div class="row">
        <div class="col-sm-12">
            <div class="white-box">
              <form action="" method="post" name="form_busca" class="form-inline mr-auto">
								{% csrf_token %}
                <input type="text" id="inpt-producto"  placeholder="Producto..." name="producto_buscado" class="form-control">
                <button class="btn blue-gradient btn-rounded btn-sm my-0" type="submit">Buscar</button>
							</form>
              <br>
                <h3 class="box-title">Listado de productos</h3>
				{% load widget_tweaks %}
				{% csrf_token %}
					<div class="form-group">
					<table id="tCamiones"  class="table">
						<thead>
	                        <tr>
	                            <th>#</th>
	                            <th>Imagén</th>
	                            <th>Nombre</th>
	                            <th>Código</th>
	                            <th>Cantidad</th>
	                            <th>Opciones</th>
	                        </tr>
	                    </thead>
				    {% for oProducto in oProductos %}
				    <tr>
				    	<td>{{ forloop.counter }}</td>
              <td><img src="/media/{{oProducto.imagen}}" height="100" width="100" alt="" /></td>
				    	<td>{{oProducto.nombre}}</td>
				    	<td>{{oProducto.codigo}}</td>
				    	<td>{{oProducto.cantidad}}</td>
				    	<td>
				    		<a href="/Producto/detalle/{{oProducto.id}}/"><button type="button" class="btn btn-info">Ver</button> </a>
				    		<a href="/Producto/editar/{{oProducto.id}}/"><button type="button" class="btn btn-primary">Editar</button></a>
				    		<a href="/Producto/eliminar/{{oProducto.id}}/"><button type="button" class="btn btn-danger">Eliminar</button></a>
				    	</td>
				    </tr>

				    {% endfor %}

					</table>
				   <br>
            <!--paginacion-->
			        <div class="center">
			          <ul class="pagination">
			            {% if oProductos.has_previous %}
			                      <li><a href="?page={{oProductos.previous_page_number}}"><<</a></li>
			                  {% endif %}


			                {% for pg in page_range %}
			                    {% if oProductos.number == pg %}
			                        <li><a class="active" href="?page={{pg}}" class="btn btn-default">{{pg}}</a></li>
			                    {% else %}
			                        <li><a href="?page={{pg}}" class="btn">{{pg}}</a></li>
			                    {% endif %}
			                {% endfor %}

			                  {% if oProductos.has_next %}
			                      <li><a href="?page={{oProductos.next_page_number}}">>></a></li>
			                  {% endif %}
			          </ul>
			        </div>
            <br>
	    			<a href="/Producto/nuevo/"><button type="button" class="btn btn-success">Nuevo Producto</button> </a>

			</div>
	    </div>
    </div>
{% endblock %}
