{% extends "base.html" %}
{% block imports %}
Lista de productos
<link href="/static/css/styleAutocomplete.css" rel="stylesheet">

<script type="text/javascript">

//evento click para boton editar

$(document).on('Click', '.btn-editar', function(e){

 e.preventDefault();
	var row=$(this).paren().parent()[0];
	console.log(row);
});
</script>




<!-- buscar producto ajax -->
<script type="text/javascript">
$(document).ready(function(){
  $( "#inpt-producto" ).focus();
  $( "#inpt-producto" ).autocomplete({
      source: function (request, response) {

          var datos = {nombreProducto: $("#inpt-producto").val()};
          var sendData = JSON.stringify(datos);
          $.ajax({
              type: "POST",
              dataType: "json",
              url: "/producto/buscar/",
              data: sendData,
              contentType: "application/json; charset=utf-8",
              async: false,
              cache: false,
              CrossDomain: true,
              success: function (result) {
              var ListasProductos = result['productos'];
              response($.map(ListasProductos, function (item) {
                  document.forms.form_busca.action =  "/Producto/detalle/"+item.id+"/";
                  var idValor = item.id;
                  return {label:item.nombre,
                        idproducto: item.id};

              }));


              }
          });
      },
      minLength: 2,
      select: function (event, ui) {
          //$.data(document.body, 'idproducto', ui.item.Id);//guardar el id en memoria el $.data guarda en memoria
          //$( "#precio" ).val( ui.item.precio);
          //$( "#codigo" ).val( ui.item.codigo);
          //$('#presentacion').focus();
          // de tu elemento
          document.location.href='/Producto/detalle/'+ui.item.idproducto+"/";
      }
  });
});

</script>

<script type="text/javascript">
function eliminarIdentificador(identificadorId) {
		var request = $.ajax({
				type: "POST",
				url: "{% url 'eliminar_producto' %}",
				data: {
						"csrfmiddlewaretoken": "{{ csrf_token }}",
						"identificador_id": identificadorId
				},
		});
		request.done(function(response) {
				alert("El producto fue desactivado con exito");
				$('#myModal').modal('toggle');
				$("#tabla" + identificadorId).remove();
		});
};
	selProducto = function(idProducto, nombre){
		document.getElementById('nombreProducto').innerHTML = nombre;
		$("#eliminar").attr("onclick","eliminarIdentificador('"+idProducto+"')");
	};
</script>


{% endblock %}

{% block title %}
Lista de productos
{% endblock %}

{% block content %}

<div id="myModal" class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cambiar Estado De Producto</h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">



          <p>Estás a punto de desactivar el producto <label id="nombreProducto"></label> </p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="eliminar" type="button" class="btn btn-primary" onclick="">Eliminar</button>
      </div>
    </div>
  </div>
</div>

	<div class="row">
        <div class="col-sm-12">
            <div class="white-box">
              <form action="" method="post" name="form_busca" class="form-inline mr-auto">
								{% csrf_token %}
                <input type="text" id="inpt-producto"  placeholder="Producto..." name="producto_buscado" class="form-control">
                <button class="btn blue-gradient btn-rounded btn-sm my-0" type="submit">Buscar</button>
							</form>
              <br>
                <h3 class="box-title">Listado de productos</h3>
				{% load widget_tweaks %}
				{% csrf_token %}
					<div class="form-group">
					<table id="tCamiones"  class="table">
						<thead>
	                        <tr>
	                            <th>#</th>
	                            <th>Imagen</th>
	                            <th>Nombre</th>
	                            <th>Código</th>
	                            <th>Cantidad</th>
	                            <th>Opciones</th>
	                        </tr>
	                    </thead>
				    {% for oProducto in oProductos %}
				    <tr id="tabla{{ oProducto.id }}">
				    	<td>{{ forloop.counter }}</td>
              <td><img src="/media/{{oProducto.imagen}}" height="100" width="100" alt="" /></td>
				    	<td>{{oProducto.nombre}}</td>
				    	<td>{{oProducto.codigo}}</td>
              <td>
              {% for precio in precios  %}
                {% if oProducto.id == precio.id  %}
                  {{precio.cantidad}}
                {% endif %}
              {% endfor %}
              </td>

				    	<td>
				    		<a href="/Producto/detalle/{{oProducto.id}}/"><span class="fa fa-search fa-2x" style="color:purple;"></span></a>
				    		<a href="/Producto/editar/{{oProducto.id}}/"><span class="fa fa-edit fa-2x"></span></a>
				    		<a data-target="#myModal" role="button" data-toggle="modal" id="{{ oProducto.id }}" onclick="selProducto('{{oProducto.id}}','{{oProducto.nombre}}');"><span class="fa fa-trash fa-2x" style="color:red;"></span></a>

              </td>
				    </tr>

				    {% endfor %}

					</table>
				   <br>
            <!--paginacion-->
			        <div class="center">
			          <ul class="pagination">
			            {% if oProductos.has_previous %}
			                      <li><a href="?page={{oProductos.previous_page_number}}"><<</a></li>
			                  {% endif %}


			                {% for pg in page_range %}
			                    {% if oProductos.number == pg %}
			                        <li><a class="active" href="?page={{pg}}" class="btn btn-default">{{pg}}</a></li>
			                    {% else %}
			                        <li><a href="?page={{pg}}" class="btn">{{pg}}</a></li>
			                    {% endif %}
			                {% endfor %}

			                  {% if oProductos.has_next %}
			                      <li><a href="?page={{oProductos.next_page_number}}">>></a></li>
			                  {% endif %}
			          </ul>
			        </div>
            <br>
	    			<a href="/Producto/nuevo/"><button type="button" class="btn btn-success">Nuevo Producto</button> </a>

			</div>
	    </div>
    </div>
{% endblock %}
