{% extends "base.html" %}
{% block imports %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<link href="/static/css/styleAutocomplete.css" rel="stylesheet">
<script type="text/javascript" src="/static/js/listarProducto.js"></script>

{% endblock %}

{% block title %}
Lista de productos
{% endblock %}

{% block content %}

<div id="myModal" class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cambiar Estado De Producto</h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">



          <p>Estás a punto de desactivar el producto <label id="nombreProducto"></label> </p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="eliminar" type="button" class="btn btn-primary" onclick="">Eliminar</button>
      </div>
    </div>
  </div>
</div>

	<div class="row" >
        <div class="col-sm-12">
            <div class="white-box">
              <form action="" method="post" name="form_busca" class="form-inline mr-auto">
								{% csrf_token %}
                <input type="text" id="inpt-producto"  placeholder="Producto..." name="producto_buscado" class="form-control">
                <button class="btn blue-gradient btn-rounded btn-sm my-0" type="submit">Buscar</button>
							</form>
              <br>
                <h3 class="box-title">Listado de productos</h3>
				{% load widget_tweaks %}
				{% csrf_token %}
					<div class="form-group" id="imprimirProductos">
					<table id="tCamiones"  class="table">
						<thead>
	                        <tr>
	                            <th>#</th>
	                            <th>Imagen</th>
	                            <th>Nombre</th>
	                            <th>Código</th>
	                            <th>Cantidad</th>
	                            <th>Opciones</th>
	                        </tr>
	                    </thead>
				    {% for oProducto in oProductos %}
				    <tr id="tabla{{ oProducto.id }}">
				    	<td>{{ forloop.counter }}</td>
              <td><img src="{% if oProducto.imagen %}/media/{{oProducto.imagen}}{% else %}/media/default.jpg{% endif %} " height="100" width="100" alt="" /></td>
				    	<td>{{oProducto.nombre}}</td>
				    	<td>{{oProducto.codigo}}</td>
              <td>
              {% for precio in precios  %}
                {% if oProducto.id == precio.id  %}
                  {{precio.cantidad}}
                {% endif %}
              {% endfor %}
              </td>

				    	<td>
				    		<a href="/Producto/detalle/{{oProducto.id}}/"><span class="fa fa-search fa-2x" style="color:purple;"></span></a>
				    		<a href="/Producto/editar/{{oProducto.id}}/"><span class="fa fa-edit fa-2x"></span></a>
				    		<a data-target="#myModal" role="button" data-toggle="modal" id="{{ oProducto.id }}" onclick="selProducto('{{oProducto.id}}','{{oProducto.nombre}}');"><span class="fa fa-trash fa-2x" style="color:red;"></span></a>

              </td>
				    </tr>

				    {% endfor %}

					</table>
				   <br>
            <!--paginacion-->
			        <div class="center">
			          <ul class="pagination">
			            {% if oProductos.has_previous %}
			                      <li><a href="?page={{oProductos.previous_page_number}}"><<</a></li>
			                  {% endif %}


			                {% for pg in page_range %}
			                    {% if oProductos.number == pg %}
			                        <li><a class="active" href="?page={{pg}}" class="btn btn-default">{{pg}}</a></li>
			                    {% else %}
			                        <li><a href="?page={{pg}}" class="btn">{{pg}}</a></li>
			                    {% endif %}
			                {% endfor %}

			                  {% if oProductos.has_next %}
			                      <li><a href="?page={{oProductos.next_page_number}}">>></a></li>
			                  {% endif %}
			          </ul>
			        </div>
            <br>
	    			<a href="/Producto/nuevo/"><button type="button" class="btn btn-success">Nuevo Producto</button> </a>

			</div>
	    </div>
    </div>
  <button type="button" id="impPro" name="button" onclick="imprimirProducto();">Imprimir</button>
{% endblock %}
