{% extends "base.html" %}
{% block imports %}

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA94LBsliF6TX_7XT76lfJAopVP_h2RkkU&callback=initMap"></script>
<script type="text/javascript" src="/static/js/detalleRuta.js"></script>
<script type="text/javascript">
var coordenadas = {{ coordenadas|safe }};
var mapa, infoWindow, ds, dr;
var markers = [];

</script>
{% endblock %}

{% block title %}
Información  detallada de Ruta
{% endblock %}

{% block content %}
	<div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <h3 class="box-title">Datos de la ruta {{oRuta.nombre}}</h3>
			<div>
				<table id="tCamiones"  class="table">
					<tr>
						<td>Nombre: </td>
						<td>{{ oRuta.nombre }}</td>
					</tr>
					<tr>
						<td>Clientes: </td>
						<td>
							{% for oRutas in oRuta.clientes.all %}
								 {{ oRutas.nombre }}<br>
                            {% endfor %}
                        </td>
					</tr>
					<tr>
						<td>Dirección</td>
						<td>{% for oRutas in oRuta.clientes.all %}
									 {{ oRutas.direccion }}<br>
                                {% endfor %}
                        </td>
                    </tr>
					<tr>
						<td>Fecha</td>
						<td>{{ oRuta.fecha}}</td>
					</tr>
				</table>
        <ul>

					<h4 class="box-title">Geolocalizacion cliente</h4>
            <div id="mapa" style="position: relative;overflow: hidden;height: 300px;">

              <br>

            </div>
				</ul>
			</div>
			</div>

	    </div>
    </div>

{% endblock %}
