{% extends "base.html" %}
{% block imports %}
Información de ruta
<script type="text/javascript">
$(document).ready(function(){

    function direccion(){
        $("#table tbody tr").click(function () {
            
            var direccion=$(this).find("td:eq(2)").text();
            alert(direccion);
           
        });
    }
    var a = direccion();
 var divMapa = document.getElementById('mapa');

                            navigator.geolocation.getCurrentPosition(fn_ok, fn_mal);

                            function fn_mal(){}
                            function fn_ok(rta){

                                var lat = rta.coords.latitude;
                                var lon = rta.coords.longitude;

                                var gLatLon= new google.maps.LatLng(lat, lon); //guardamos las coordenadas en un objeto de google, el LatLng es propio de google.
                                var objConfig={
                                    zoom:17,
                                    center: gLatLon //donde debe estar el mapa centrado cuando se rederice.
                                }

                                var gMapa= new google.maps.Map(divMapa, objConfig); //indica a donde se va renderizar nuestro mapa y el segundo dato es una configuración del mapa.
                                objConfigMarker={
                                position:gLatLon,
                                map:gMapa,
                                draggable: true,
                                title:"Nuesta ubicación"
                                }

                                var gMarker = new google.maps.Marker(objConfigMarker);
                                    //gMarker.setIcon('icon_usuario.gif');

                                var gCoder = new google.maps.Geocoder();

                                var objInformacion={
                                    address: a

                                }

                                gCoder.geocode(objInformacion, fn_coder);

                                function fn_coder(datos){
                                    var coordenadas = datos[0].geometry.location; //obj LatLong

                                    var config = {
                                        map: gMapa,
                                        position: coordenadas,
                                        title: ''
                                    }
                                    var gMarkerDV=new google.maps.Marker(config)
                                        //gMarkerDV.setIcon('icon_edificio.png')

                                    var objHTML={
                                        content: '<div style= "height: 150px; width: 300px"><h2>{{oCliente.nombre}}</h2><h3>Direccion: {{oCliente.direccion}}</h3></div>'
                                    }
                                    var gIW = new google.maps.InfoWindow(objHTML);

                                    google.maps.event.addListener(gMarkerDV, 'click', function(){
                                        gIW.open(gMapa, gMarkerDV);

                                    });

                                        var objConfigDR = { //objeto de configuración directions render.
                                            map: gMapa,
                                            suppressMarkers: true
                                        }
                                    
                                        var objConfigDS= {
                                            origin: gLatLon, //LatLong 
                                            destination:objInformacion.address,
                                            travelMode: google.maps.TravelMode.WALKING //se puede variar segun tipo de movil a usar
                                        
                                        }
                                    
                                        var ds= new google.maps.DirectionsService();
                                        //obtener coordenadas
                                        var dr = new google.maps.DirectionsRenderer(objConfigDR);
                                        //traduce coordenadas a la ruta visible

                                            ds.route(objConfigDS, fnRutear );

                                        function fnRutear(resultados, status){
                                            //mostrar la linea entre A y B
                                            if(status=='OK'){
                                                dr.setDirections(resultados);
                                            }else{
                                                alert('Error'+status);
                                            }
                                        }
                                }
                            }

});
</script>
{% endblock %}

{% block title %}
Información  detallada de Ruta
{% endblock %}

{% block content %}
	<div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <h3 class="box-title">Datos de la ruta {{oRuta.nombre}}</h3>
			<div>
				<table id="tCamiones"  class="table">
					<tr>
						<td>Nombre: </td>
						<td>{{ oRuta.nombre }}</td>
					</tr>
					<tr>
						<td>Clientes: </td>
						<td>
							{% for oRutas in oRuta.clientes.all %}
								 {{ oRutas.nombre }}<br>
							{% endfor %}</td>
					</tr>
					<tr>
						<td>Dirección</td>
						<td>{% for oRutas in oRuta.clientes.all %}
									 {{ oRutas.direccion }}<br>
								{% endfor %}</td>
					</tr>
					<tr>
						<td>Fecha</td>
						<td>{{ oRuta.fecha}}</td>
					</tr>
				</table>

				<ul>
					
					<h4 class="box-title">Geolocalizacion cliente</h4>
                    <div id="mapa" style="position: relative;overflow: hidden;height: 300px;">
                
                        <br>
                        <script async defer
                        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA94LBsliF6TX_7XT76lfJAopVP_h2RkkU&callback=fn_coder">
                        </script>

            </div>
				</ul>
			</div>
			</div>

	    </div>
    </div>

{% endblock %}
