{% extends "base.html" %}
{% block imports %}
<link href="/static/css/styleAutocomplete.css" rel="stylesheet">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script type="text/javascript">

//evento click para boton editar

</script>
{% endblock %}

{% block title %}
Lista de Rutas
{% endblock %}

{% block content %}
	<div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <h3 class="box-title">Listado de rutas</h3>
				{% load widget_tweaks %}
				{% csrf_token %}
					<div class="form-group">
					<table id="tCamiones"  class="table">
						<thead>
	                        <tr>
	                            <th>#</th>
	                            <th>Nombre</th>
	                            <th>Cliente</th>
								<th>Repartidor</th>
								<th>Fecha</th>
								<th>Opciones</th>
	                        </tr>
	                    </thead>
				    {% for oRuta in oRutas %}
				    <tr>
				    	<td>{{ forloop.counter }}</td>
				    	<td>{{ oRuta.nombre }}</td>
				    	<td>
				    		<ul>
				    			{% for cliente in oRuta.clientes.all %}
				    			<li>{{ cliente.nombre }}</li>
								{% endfor %}
							</ul>
						</td>
						<td>{{ oRuta.repartidor }}</td>
				    	<td>{{ oRuta.fecha }}</td>
						<td>
							<a href="/Ruta/detalle/{{oRuta.id}}/"><button type="button" class="btn btn-info">Ver</button> </a>
							<a href="/Ruta/eliminar/{{oRuta.id}}/"><button type="button" class="btn btn-danger">Eliminar</button></a>
						</td>
					</tr>

				    	{% endfor %}

					</table>
					<div class="center">
						<ul class="pagination">
							{% if oRutas.has_previous %}
												<li><a href="?page={{oVenta.previous_page_number}}"><<</a></li>
										{% endif %}


									{% for pg in page_range %}
											{% if oRutas.number == pg %}
													<li><a class="active" href="?page={{pg}}" class="btn btn-default">{{pg}}</a></li>
											{% else %}
													<li><a href="?page={{pg}}" class="btn">{{pg}}</a></li>
											{% endif %}
									{% endfor %}

										{% if oRutas.has_next %}
												<li><a href="?page={{oRutas.next_page_number}}">>></a></li>
										{% endif %}
						</ul>
					</div>




				    <br>
	    			<a href="/Ruta/nuevo/"><button type="button" class="btn btn-success">Nueva Ruta</button> </a>

			</div>
	    </div>
    </div>
{% endblock %}
