{% extends "base.html" %}
{% block imports %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link href="/static/css/styleAutocomplete.css" rel="stylesheet">

<script type="text/javascript" src="/static/js/crearRutas.js"></script>
<script type="text/javascript">
var mapa, infoWindow, ds, dr;
var markers = [];
</script>

{% endblock %}


{% block title %}
Nueva Ruta
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <h3 class="box-title">Nueva Ruta</h3>

            <!-- <form action = '' method="POST" enctype="multipart/form-data">
                 {% csrf_token %} -->
                 <ul>
                    <label for="id_nombre">Nombre:</label>
                    <br>
                    <input type="text" name="id_nombre" id="id_nombre" placeholder="Nombre Ruta..." required="" class="form-control" maxlength="45">
                    <label for="id_nombre">Cliente:</label>
                    <br>
                    <input type="text" tabindex="2" name="id_cliente" id="id_cliente" placeholder="Nombre Cliente..." class="form-control" maxlength="45">

                    <br>
                    <label for="latitud">Latitud:</label>
                    <br>
                    <input type="text" name="direccion" id="latitud" required="" class="form-control" disabled>

                    <label for="longitud">Longitud:</label>
                    <br>
                    <input type="number" name="precio" id="longitud" required="" class="form-control" disabled>
                    <br>

                    <a id="bt_add" tabindex="3" class="btn btn-success">Agregar</a>
                    <a id="bt_del" tabindex="4" class="btn btn-warning">Eliminar</a>
                    <button id="bt_delall" tabindex="5" class="btn btn-danger">Eliminar todo</button>

                    <div class="row">
                        <div class="form-group">
                            <label ><center>Concepto Operación</center></label>
                            <table id="tabla" class="table table-bordered">
                            <thead>
                                <tr>
                                    <td>Nº</td>
                                    <td>Nombre</td>
                                    <td>Cliente</td>
                                    <td>Longitud</td>
                                    <td>Latitud</td>

                                </tr>
                            </thead>
                            </table>
                            <br>
                        </div>



                    </div>
                        <button id="bt_GenerarRuta" class="btn btn-success">Generar Ruta</button>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-sm-8 col-md-8 col-lg-6">
                                <div id="tabs" style="display:none;">
                                    <table id="listaProducto"></table>
                                    <div id="pagerlistaProducto"  style="text-align: center;"></div>
                                </div>
                            </div>

                            <div class="col-sm-2 col-md-2 col-lg-4">

                            </div>
                        </div>
                    </div>


                       <h4 class="box-title">Geolocalizacion cliente</h4>
                    <div id="mapa" style="position: relative;overflow: hidden;height: 500px;">

                        <br>
                        <script async defer
                        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA94LBsliF6TX_7XT76lfJAopVP_h2RkkU&callback=initMap">
                        </script>

            </div>
            </ul>
        <!-- </form> -->

                      <br>
              </div>
    </div>
{% endblock %}
