{% extends "base.html" %}
{% block imports %}
<link href="/static/css/styleAutocomplete.css" rel="stylesheet">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript">
function eliminarIdentificador(identificadorId) {
		var request = $.ajax({
				type: "POST",
				url: "{% url 'eliminar_lote' %}",
				data: {
						"csrfmiddlewaretoken": "{{ csrf_token }}",
						"identificador_id": identificadorId
				},
		});
		request.done(function(response) {
        if(response['error']=='error'){
            alert("El lote no se puede eliminar");
            $('#myModal').modal('toggle');
        }else{
            alert("El lote fue eliminado con exito");
            $('#myModal').modal('toggle');
            document.location.href='/Lote/listar/';
        }

		});
};
	selLote = function(idLote, fecha){
		document.getElementById('fechaLote').innerHTML = fecha.toString();
		$("#eliminar").attr("onclick","eliminarIdentificador('"+idLote+"')");
	};
</script>

{% endblock %}

{% block title %}
Listar lote
{% endblock %}

{% block content %}

<div id="myModal" class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Eliminar lote</h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">



          <p>Estás a punto de eliminar el lote de la fecha <label id="fechaLote"></label> </p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="eliminar" type="button" class="btn btn-primary" onclick="">Eliminar</button>
      </div>
    </div>
  </div>
</div>


<div class="row">
      <div class="col-sm-12">
          <div class="white-box">
            <h3 class="box-title">Listado de lotes</h3>
            <div class="form-group">
            <table id="tPedidos"  class="table">
              <thead>
                            <tr>
                                <th>#</th>
                                <th>Fecha</th>
																<th>Fecha modificado</th>
																<th>Proveedor</th>
                                <th>Recibo</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
              {% for oLote in oLotes %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{oLote.fecha|date:"d-m-Y P" }}</td>
								<td>{{oLote.modificado|date:"d-m-Y P" }}</td>
                <td>{{oLote.proveedor.nombre}}</td>
                <td>{{oLote.recibo.nombre}}</td>
                <td>
                  <a href="/Lote/detalle/{{oLote.id}}/"><span class="fa fa-search fa-2x" style="color:purple;"></span></a>
									<a href="/Lote/editar/{{oLote.id}}/"><span class="fa fa-edit fa-2x"></span></a>
									<a data-target="#myModal" role="button" data-toggle="modal" id="{{ oProducto.id }}" onclick="selLote('{{oLote.id}}','{{oLote.fecha}}');"><span class="fa fa-trash fa-2x" style="color:red;"></span></a>
                </td>
              </tr>

              {% endfor %}

            </table>
              <br>
              <div class="center">
                <ul class="pagination">
                  {% if oLotes.has_previous %}
                            <li><a href="?page={{oLotes.previous_page_number}}"><<</a></li>
                        {% endif %}


                      {% for pg in page_range %}
                          {% if oLotes.number == pg %}
                              <li><a class="active" href="?page={{pg}}" class="btn btn-default">{{pg}}</a></li>
                          {% else %}
                              <li><a href="?page={{pg}}" class="btn">{{pg}}</a></li>
                          {% endif %}
                      {% endfor %}

                        {% if oLotes.has_next %}
                            <li><a href="?page={{oLotes.next_page_number}}">>></a></li>
                        {% endif %}
                </ul>
              </div>

          </div>
      </div>
</div>

{% endblock %}
