{% extends "base.html" %}
{% block imports %}
<script type="text/javascript" src="/static/js/crearLote.js"></script>
<link href="/static/css/styleAutocomplete.css" rel="stylesheet">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script type="text/javascript">
//filtro de clientes por dni o numero documento ajax

$(document).ready(function(){
        $( "#inpt-proveedor" ).focus();
        $('#myModal').on('shown.bs.modal', function () {
            $('#id_nombre').trigger('focus');
        });
        $('#myModalProducto').on('shown.bs.modal', function () {

            //var iframe = document.getElementById("upload");
            //var doc = iframe.contentDocument;
            //var i = doc.createElement('input');
            //i.style.display = 'none';
            //doc.body.appendChild(i);
            //i.focus();
            //doc.body.removeChild(i);
            //$('#upload').trigger($('#id_nombre').focus(););
            window.frames['upload'].document.getElementById('id_nombre').focus();
            //$('#id_nombre').trigger('focus');
        });
        $( "#inpt-producto" ).autocomplete({
            source: function (request, response) {

                var datos = {nombreProducto: $("#inpt-producto").val()};
                var sendData = JSON.stringify(datos);
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: "/productopre/buscar/",
                    data: sendData,
                    contentType: "application/json; charset=utf-8",
                    async: false,
                    cache: false,
                    CrossDomain: true,

                    success: function (result) {
                      // if (document.getElementById("presentacion").length!=0 ) {
                      //   var pre = document.getElementById("presentacion");
                      //   pre.options.length = 0;
                      //   var valorRemove = document.getElementById("valor");
                      //   valorRemove.options.length = 0;
                      // }

                      var ListasProductos = result['productos'];
                      var ListarPresentaciones = result['presentacion'];

                      response($.map(ListasProductos, function (item) {
                          return {
                              label: item.nombre,
                              idproducto: item.nombre,
                             // precio: item.valor,
                             // codigo: item.codigo,
                              Id: item.id,
                              };
                          })
                        );

                          // var sel = document.getElementById("presentacion");
                          // var sel2 = document.getElementById("valor");
                          // for (var i in ListarPresentaciones) {
                          //     var option = document.createElement("option");
                          //     option.value = ListarPresentaciones[i].id;
                          //     option.text = ListarPresentaciones[i].nombre;
                          //     sel.add(option);
                          //     var option2 = document.createElement("option");
                          //     option2.value = ListarPresentaciones[i].id;
                          //     option2.text = ListarPresentaciones[i].valor;
                          //     sel2.add(option2);

                      }
                      // var valor1= $("#valor option:selected").html();
                      // var valor2= $("#valor").val();
                      //
                      // $( "#codigo" ).val( valor2);
                      // $( "#precio" ).val( valor1);









                  });
            },
            minLength: 2,
            select: function (event, ui) {
                $.data(document.body, 'idproducto', ui.item.Id);//guardar el id en memoria el $.data guarda en memoria
                //$( "#precio" ).val( ui.item.precio);
                //$( "#codigo" ).val( ui.item.codigo);
                $('#cantidad').focus();
                // de tu elemento
            }


        });



//   $('select[name="seleccionar"]').on('change', function() {
//   $('select[name="valor"]').val(this.value);


// $(document).ready(function() {
//   $('#presentacion').change(function(event) {
//       var cambiarSelect = $('#presentacion').val();
//       var valor = $('#valor').val(cambiarSelect);
//       $('#valor').change();
//       var valorTexto= $("#valor option:selected").html();
//       var valorId= $("#valor").val();
//
//       $( "#codigo" ).val( valorId);
//       $( "#precio" ).val( valorTexto);
//   });
// });


        $( "#inpt-proveedor" ).autocomplete({
          source: function (request, response) {

          var datos = {nombreProveedor: $("#inpt-proveedor").val()};
          var sendData = JSON.stringify(datos);
          $.ajax({
              type: "POST",
              dataType: "json",
              url: "/proveedor/buscar/",
              data: sendData,
              contentType: "application/json; charset=utf-8",
              async: false,
              cache: false,
              CrossDomain: true,

              success: function (result) {
              var ListasProveedores = result['proveedores'];
              if( Object.keys(ListasProveedores).length === 0 ){
                  var numeroNuevo = $('#inpt-proveedor').val();
                  var proveedor = new Object();
                  proveedor.documento = "nuevo";
                  proveedor.nombre = "nuevo";
                  proveedor.direccion = numeroNuevo;
                  ListasProveedores.push(proveedor);
              }
              response($.map(ListasProveedores, function (item) {
                 var valorProveedor = document.getElementById('inpt-proveedor').value;
                 return {label: item.documento,
                       nombreP: item.nombre,
                     dniP: item.direccion,};
                    }));
                }
            });
        },
        minLength: 2,
        select: function (event, ui) {
          if(ui.item.nombreP === "nuevo"){
              $('#id_numerodocumento').val(ui.item.dniP);
              $('#nuevoProveedor').click();

          } else{
              $("#inpt-nombreProveedor").val(ui.item.nombreP);
              $('#cmbRecibo').focus();
          }


          //$('#inpt-recibo').focus();
      }

  });

  });

</script>
{% endblock %}


{% block title %}
Nuevo Lote
{% endblock %}

{% block content %}

<p id="demo"></p>



<div id="myModal" class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><b>REGISTRAR NUEVO PROVEEDOR</b></h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
              <div class="col-lg-12" style="margin-top:2px;">
                <div class="col-xs-6 col-sm-6 col-md-6">
                  <label for="id_nombre">Nombre:</label><br>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                  <label for="id_direccion">Direccion:</label><br>
                </div>
              </div>
              <div class="col-lg-12" style="margin-top:2px;">
                <div class="col-xs-6 col-sm-6 col-md-6">
                  <input type="text" name="nombre" id="id_nombre" required="" class="form-control" maxlength="45">
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                  <input type="text" name="direccion" id="id_direccion" required="" class="form-control" maxlength="45">
                </div>
              </div>

            <div class="col-lg-12" style="margin-top:2px;">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <label for="numdocumento">Numero documento:</label><br>
              </div>
            </div>
            <div class="col-lg-12" style="margin-top:2px;">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <input type="text" name="numerodocumento" id="id_numerodocumento" class="form-control" maxlength="11" >
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <button id="registrarProveedor" type="button" class="btn btn-primary" onclick="RegistrarProveedor();">Registrar</button>
                <script type="text/javascript">
                  function RegistrarProveedor(){
                    var nombre = document.getElementById("id_nombre").value;
                    var direccion = document.getElementById("id_direccion").value;
                    var documento = document.getElementById("id_numerodocumento").value;
                    console.log(documento);
                    var datos = {nombre: nombre,direccion:direccion,documento:documento};
                    var sendData = JSON.stringify(datos);
                    $.ajax({
                        type: "POST",
                        dataType: "json",
                        url: "/Proveedor/Registrar/",
                        data: sendData,
                        contentType: "application/json; charset=utf-8",
                        async: false,
                        cache: false,
                        CrossDomain: true,

                        success: function (result) {
                        //     var id_venta = result["id_venta"];
                             alert('El proveedor se registro con exito');
                             var numDocumento = $("#id_numerodocumento").val();
                             $('#inpt-proveedor').val(numDocumento);
                            var nombrePro = $("#id_nombre").val();
                             $('#inpt-nombreProveedor').val(nombrePro);


                             $('#myModal').modal('toggle');
                             $('#id_nombre').val('');
                             $('#id_direccion').val('');
                             $('#id_numerodocumento').val('');
                             //location.reload(true);
                             $('#cmbRecibo').focus();
                        }
                    });
                  }
                </script>
              </div>

            </div>


            </div>
        </div>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>

<div id="myModalProducto" class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><b>REGISTRAR NUEVO PRODUCTO</b></h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <iframe src="/Producto/nuevo/" name="upload" id="upload" width="870" height="500"></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>





    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <h3 class="box-title">Nuevo Lote</h3>
                <!--<form method="post" enctype="multipart/form-data">
                  {% csrf_token %}-->

                  <div class="col-lg-12">

                    <div class="panel panel-default col-xs-8 col-sm-8 col-md-8" style="border: 0.05px solid #ECECEC;">
          				     <div class="panel-body">
                          <h4 class="box-title">Proveedor</h4>
                          <div class="col-xs-6 col-sm-6 col-md-6">
                            <label for="id_nombre">Proveedor:</label>
                            <a data-target="#myModal" role="button" id="nuevoProveedor" data-toggle="modal" style="color:green"><span class="fa fa-plus fa-1x"></span></a>
                            <input type="text" id="inpt-proveedor" placeholder="Número Documento De Proveedor..." name="inpt-proveedor" class="form-control">
                          </div>
                          <div class="col-xs-6 col-sm-6 col-md-6">
                            <label for="id_nombre">Nombre:</label>
                            <input type="text" id="inpt-nombreProveedor" name="inpt-nombreProveedor" class="form-control" disabled>
                          </div>
                        </div>
                      </div>
                      <div class="panel panel-default col-xs-8 col-sm-8 col-md-8" style="border: 0.05px solid #ECECEC;">
            				     <div class="panel-body">
                           <div class="col-xs-6 col-sm-6 col-md-6">
                             <label for="id_nombre">Tipo de Recibo:</label>
                             <select class="form-control" id="cmbRecibo" name="cmbRecibo">
                               {% for recibo in recibos %}
                                   <option value="{{ recibo.id }}">
                                   {{recibo.nombre}}
                                   </option>
                               {% endfor %}
                             </select>
                           </div>
                           <div class="col-xs-6 col-sm-6 col-md-6">
                             <label for="id_nombre">Almacen:</label>
                             <select class="form-control" id="cmbAlmacen" name="cmbAlmacen">
                               {% for almacen in almacens %}
                                   <option value="{{ almacen.id }}">
                                   {{almacen.nombre}}
                                   </option>
                               {% endfor %}
                             </select>
                           </div>

                         </div>
                      </div>
                      <div class="panel panel-default col-xs-8 col-sm-8 col-md-8" style="border: 0.05px solid #ECECEC;">
            				     <div class="panel-body">
                            <h4 class="box-title">Producto</h4>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                              <label for="id_nombre">Producto:</label>
                              <a role="button" data-target="#myModalProducto" data-toggle="modal" style="color:green"><span class="fa fa-plus fa-1x"></span></a>
                              <input type="text" name="inpt-producto" id="inpt-producto" required="" class="form-control" maxlength="45" placeholder="Nombre del producto ...">
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                              <label for="id_nombre">Cantidad:</label>
                              <input type="number" name="cantidad" id="cantidad" required="" class="form-control" >
                            </div>
                          </div>
                      </div>

                  </div>

                  <div class="col-lg-12" style="margin-top:2px;">
                    <div class="col-xs-4 col-sm-4 col-md-4">
                      <br>
                      <button id="bt_add" class="btn btn-success">Agregar</button>
                      <button id="bt_del" class="btn btn-warning">Eliminar</button>
                      <button id="bt_delall" class="btn btn-danger">Eliminar todo</button>
                      <br>
                      <br>
                    </div>
                  </div>

                    <div class="row">
                        <div class="form-group">
                            <label ><center>Concepto Operación</center></label>
                            <table id="tabla" name="tablacontenido" class="table table-bordered">
                            <thead>
                                <tr>
                                    <td>Nº</td>
                                    <td>Cantidad</td>
                                    <td>Almacen</td>
                                    <td>Producto</td>
                                </tr>
                            </thead>


                            </table>

                            <br>
                        </div>
                            <br>

                        <button id="bt_GenerarVenta" class="btn btn-success">Generar Lote</button>
                      <!--</form>-->
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <div class="col-sm-8 col-md-8 col-lg-6">
                                <div id="tabs" style="display:none;">
                                    <table id="listaProducto"></table>
                                    <div id="pagerlistaProducto"  style="text-align: center;"></div>
                                </div>
                            </div>

                            <div class="col-sm-2 col-md-2 col-lg-4">

                            </div>
                        </div>
                    </div>


    </div>
  </div>
</div>

{% endblock %}
